* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/FEI_BALL_BG.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

.print {
  text-align: center;
  width: 120px;
  z-index: 5;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgb(0, 166, 255);
  transition: all 0.2s ease-in-out;
}

.back_button {
  width: 150px;
  z-index: 5;
  padding: 10px;
  font-size: 20px;
  margin: 100px auto;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgb(0, 166, 255);
  transition: all 0.2s ease-in-out;
}

.print:hover {
  transform: scale(1.1);
}

.wrapper {
  margin: 150px auto;
  text-align: center;
  width: 550px;
}

.wrapper > p {
  font-size: 20px;
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  .back_button {
    width: 100px;
    font-size: 16px;
    margin: 50px auto;
  }

  .wrapper {
    margin: 50px auto;
    width: 90%;
  }

  .wrapper > p {
    font-size: 16px;
    margin-top: 50px;
  }
}
