* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#victory {
  top: 200px;
  width: 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(96, 32, 0);
}

#pauseMenu {
  text-align: center;
  background-color: rgb(98, 153, 255);
  opacity: 0.8;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  color: black;
  z-index: 10;
  display: none;
  transition: all 0.2s ease-in-out;
}

#pauseMenu:hover {
  opacity: 1;
}

#mainMenu {
  top: 75%;
  text-align: center;
  background-color: rgb(98, 153, 255);
  opacity: 0.8;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  color: black;
  z-index: 10;
  display: none;
  transition: all 0.2s ease-in-out;
}

#mainMenu:hover {
  opacity: 1;
}

.option {
  font-weight: 600;
  font-size: 25px;
  margin: 30px;
}

.top {
  margin-top: 50px;
}
